<h1>Listing amoebas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Specialtalent</th>
    <th>Generation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @amoebas.each do |amoeba| %>
  <tr>
    <td><%= amoeba.name %></td>
    <td><%= amoeba.talent %></td>
    <td><%= amoeba.generation %></td>
    <td><%= link_to 'Show', amoeba %></td>
    <td><%= link_to 'Edit', edit_amoeba_path(amoeba) %></td>
    <td><%= link_to 'Destroy', amoeba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Amoeba', new_amoeba_path %>
