<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @act.name %>
</p>

<p>
  <b>Date:</b>
  <%= @act.date %>
</p>

<p>
  <b>Time:</b>
  <%= @act.time %>
</p>


<%= link_to 'Edit', edit_act_path(@act) %> |
<%= link_to 'Back', acts_path %>
